.elementor-heading-title {
 
 text-align:left!important;
  color:rgba( 0, 0, 0, 0.7 )!important;
}
.elementor-element-650491c{

text-align:right!important;
    margin-left: 690px!important;
 margin-top:300px!important;
 
 

}
